<div class="panel-group" id="sidebar">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="text-uppercase" data-toggle="collapse" data-parent="#sidebar" data-target="#account-options">
				Account options
			</a>
		</div>

		<div id="account-options" class="list-group panel-collapse collapse in">
			<a href="/account/changepassword" class="list-group-item" activate>Change password</a>
			<a href="/account/personalinformation" class="list-group-item" activate>Personal information</a>
		</div>
	</div>
</div>