<alerts></alerts>

<form name="form" class="form" interactive ng-if="!success">
	<h2 class="form-heading"><span class="opensanscondensedlight">Forgot Password</span></h2>

	<p>
		Enter your email address then click 'Submit'.
	</p>

	<p>
		We'll send you an email with a link that will allow you to reset your password.
	</p>

	<div class="form-group">
		<label class="control-label" for="email">Email</label>
		<input name="email" type="text" class="form-control" placeholder="Email address" maxlength="254" required autofocus ng-model="model.email" validate="{type: 'ExistingUserByEmail'}" />
	</div>

	<captcha></captcha>

	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid || loading" ng-click="retrievePassword()">Submit</button>

	<footer>
		<a href="/" target="_self">Home</a>
		<b>&middot;</b>
		<a href="/account/signin">Sign in</a>
		@if (ViewBag.Application.Settings.CanRegister) {
			<b>&middot;</b>
			<a href="/account/register">Register</a>
		}
	</footer>
</form>

<div ng-if="success">
	<h2 class="form-heading"><span class="opensanscondensedlight">Forgot Password</span></h2>

	<p>
		<strong>Success! An email has been sent to you regarding your new password request.</strong>
	</p>

	<p>
		Log into your email account and find the email from:
	</p>

	<p>
		<strong>@ViewBag.Mail.Settings.From</strong>
	</p>

	<p>
		Once found, open it and click on the link inside of it.
	</p>

	<p>
		This will redirect you to a page within the site that will let you reset your password. Be sure to check you're junk mail if you don't immediately see the email and add it to your safe list.
	</p>

	<p class="block-btns">
		<a class="btn btn-lg btn-primary" href="/" target="_self">Continue</a>
	</p>
</div>