<div class="panel-group" id="sidebar">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="text-uppercase" data-toggle="collapse" data-parent="#sidebar" data-target="#user-options">
				User options
			</a>
		</div>

		<div id="user-options" class="list-group panel-collapse collapse in">
			<a href="/administration/allusers" class="list-group-item" activate>All users</a>
			<a href="/administration/createuser" class="list-group-item" activate>Create user</a>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="text-uppercase" data-toggle="collapse" data-parent="#sidebar" data-target="#role-options">
				Role options
			</a>
		</div>
		
		<div id="role-options" class="list-group panel-collapse collapse">
			<a href="/administration/allroles" class="list-group-item" activate>All roles</a>
		</div>
	</div>
</div>