<alerts></alerts>

<breadcrumb></breadcrumb>

<div class="page-header">
	<h2>
		<span class="opensanscondensedlight text-capitalize">User detail</span>
		<small ng-if="ready">
			<sub><i class="fa fa-user"></i> {{model.username}}</sub>
		</small>
	</h2>
</div>

<form name="form" class="form-horizontal" interactive editable load="'/api/administration/getuser/' + model.username">
	<div class="form-group">
		<label class="col-sm-3 control-label" for="firstName">First name</label>
		<div class="col-sm-4">
			<input name="firstName" type="text" class="form-control" placeholder="First name" maxlength="45" required ng-model="model.firstName" validate="{type: 'IsRequired'}" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label" for="lastName">Last name</label>
		<div class="col-sm-4">
			<input name="lastName" type="text" class="form-control" placeholder="Last name" maxlength="45" required ng-model="model.lastName" validate="{type: 'IsRequired'}" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label" for="email">Email</label>
		<div class="col-sm-4">
			<input name="email" type="text" class="form-control" placeholder="Email address" maxlength="254" required ng-model="model.email" validate="{type: 'CurrentUserByEmail'}" />
		</div>
	</div>

	<div class="form-group" ng-if="readonly">
		<label class="col-sm-3 control-label">Password</label>
		<div class="col-sm-9">
			<a href="/administration/changepassword/{{model.username}}" class="btn btn-default" ng-disabled="loading">Change password</a>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="model.enabled">
					Enabled
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Roles granted</label>
		<div class="col-sm-9">
			<div class="checkbox" ng-repeat="role in model.roles">
				<label>
					<input type="checkbox" ng-model="role.selected">
					{{role.caption}}
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button class="btn btn-primary" type="submit" ng-disabled="loading" ng-click="edit()" ng-if="readonly">Edit</button>
			<a href="/administration/deleteuser/{{model.username}}" class="btn btn-default" ng-disabled="loading" ng-if="readonly">Delete</a>
			<a href="{{redirect ? redirect : '/administration/allusers'}}" class="btn btn-default" ng-disabled="loading" ng-if="readonly">Close</a>
			<button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || loading" ng-click="updateUser()" ng-if="!readonly">Update</button>
			<button class="btn btn-default" type="button" ng-disabled="loading" ng-click="view()" ng-if="!readonly">Cancel</button>
		</div>
	</div>
</form>